body{
	margin: 0;
}

.header{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 10px 0;
	background: #E1E1E1;
	text-align: center;
	font-size:16px;
	font-weight: bolder;
}

.footer{
	clear:both;
	width: 100%;
	margin: 0 auto;
	background: #E1E1E1;
	position: absolute;
	left: 0;
	bottom: 0;
}
.footer p {
	text-align: center;
	font-size:14px;
}

.container{
	width: 600px;
	margin: 0 auto;
}

.content{
	width: 500px;
	float: left;
}
.category{
	width: 100px;
	float: right;
}