body{
	margin: 0;
	font-family: 'Gotham_SSm_3r',Helvetica,Arial,sans-serif;
}

.body-wrapper{
	position:relative;
	height: auto;
	min-height:100%;
}

.header{
	width: 100%;
	margin: 0 auto;
	padding: 10px 0;
	background: #E1E1E1;
	text-align: center;
	font-size:1.4em;
	font-weight: bolder;
}

.footer{
	background: #E1E1E1;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

.footer p {
	text-align: center;
	font-size:1em;
}

.container{
	width: 600px;
	margin: 0 auto;
	height: auto;
}

.main{
	width: 500px;
	height: auto;
	float: left;
	padding-bottom:50px;
}
.right{
	width: 100px;
	height: auto;
	float: left;
}

.posts{
	list-style: none;
}
.posts li{
	margin-bottom: 5px;
}

.categories{
	list-style: none;
	font-size: 1.2em;
}
.categories li{
	margin-bottom: 5px;
}

.list-decimal{
	list-style: decimal;
}